include src/pingu/pingu.wsgi
recursive-include src/pingu/heroku *
recursive-include src/pingu/static/css *
recursive-include src/pingu/static/fonts *
recursive-include src/pingu/static/images *.png
recursive-include src/pingu/static/images *.ico
recursive-include src/pingu/static/images/site *.png
recursive-include src/pingu/static/js *
recursive-include src/pingu/templates *.tpl
recursive-include src/pingu/templates/account *.tpl
recursive-include src/pingu/templates/contact *.tpl
recursive-include src/pingu/templates/email *.tpl
recursive-include src/pingu/templates/partials *.tpl
recursive-include src/pingu/templates/server *.tpl
recursive-include src/pingu/templates/site *.tpl
